<html>
    <head>
        <title>Store Admin</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        
        <script src="js/jquery-latest.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        
        <!-- Add Js Files -->
        <script src="js/custom/app.js"></script>
        <script src="js/custom/indexController.js"></script>
        <script src="js/custom/detailController.js"></script>
        
    </head>
    <body ng-app="customApp">
        <div class="container" data-ng-view=""></div>
    </body>
</html>