<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Tables
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-key"></i> Change Password
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 addBlockForm">
                <form role="form" name="addBlockForm" ng-submit="updatePassword()" novalidate>
                    <div class="form">
            		    <h3>Change Password</h3>
                        <div ng-hide="noError" class="ng-hide alert alert-danger">
                            {{ErrorMessage}}
                        </div>
                        <div ng-hide="noSuccess" class="ng-hide alert alert-success">
                            {{successMessage}}
                        </div>
                       	<div class="form-group">
                            <label>Enter New Password</label>
                            <input type="password" class="form-control" name="societyName" placeholder="Enter New Password" ng-model="user.newPassword" ng-readonly="hasNoBlocks" required>
                            <p ng-show="addBlockForm.societyName.$invalid && !addBlockForm.societyName.$pristine" class="help-block red-text">Please enter password</p>
                        </div>
                    	<div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" name="Password" placeholder="Confirm Password" ng-model="user.confirmNewPassword" required>
                            <p ng-show="addBlockForm.Password.$invalid && !addBlockForm.Password.$pristine" class="help-block red-text">Please Confirm password</p>
                        </div>
                    </div>
                    <button ng-disabled="addBlockForm.$invalid" type="submit" class="btn btn-success pull-right">Change Password</button>
			    </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<society-footer></society-footer>   
