<div class="modal popup">
	<div class="booking_room choose-block">
		<h4>Select Block</h4>
		<p>Please select block to login</p>
		<div class="form-group">
			<select class="form-control" ng-init="block_id=''" ng-model="block_id">
				<option value="">Select Block</option>
				<option ng-repeat="block in blocks" value="{{ block.id }}">{{block.block_name}} - {{ block.society_name }}</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-success" ng-click="goToDashboard()" ng-disabled="(block_id=='')">Manage Block</button>
		</div>
	</div>
</div>
