<header></header>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Manager</h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>  <a href="#/manager-list">Managers</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> Add Manager
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row"  style="margin-top: 10px ">
                <div class="col-lg-8">
                    <div class="alert alert-danger" ng-show="formErrorShow">{{formError}}</div>
                    <form role="form" name="societyAddForm" ng-submit="addManager()" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="societyName" placeholder="Enter Name" ng-model="manager.manager_name" required>
                                    <p ng-show="societyAddForm.societyName.$invalid && !societyAddForm.societyName.$pristine" class="help-block red-text">Please enter society name</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="societyEstDate" ng-model="manager.email"  class="form-control" placeholder="Enter Email" required>
                                    <p  ng-show="societyAddForm.societyEstDate.$invalid && !societyAddForm.societyEstDate.$pristine" class="help-block red-text">Please enter valid email</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Id Proof</label>
                                    <select class="form-control" ng-model="manager.idType">
                                        <option value="">Select ID Type</option>
                                        <option value="VoterId Card">VoterId Card</option>
                                        <option value="Adhar Card">Adhar Card</option>
                                        <option value="Driving Lisence">Driving Lisence</option>
                                        <option value="Pan Card">Pan Card</option>
                                        <option value="Passport">Passport</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ID Number</label>
                                    <input type="text" class="form-control" ng-model="manager.idNumber" name="contact" placeholder="Enter ID Number">
                                </div>
                            </div>
                        </div>
                        <button ng-disabled="societyAddForm.$invalid" type="submit" class="btn btn-success pull-right">Add</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
<footer></footer>  
