<div class="societyHeader"></div>
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    Dashboard <small>Statistics Overview</small>
                </h3>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">12</div>
                                <div>New Tasks!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Support Tickets!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="container-fluid">
      <h4>Manage {{block.name}} <a href="#/society-flats/{{id}}" ng-show="isUpdated"> | <small>Manage Flats</small></a></h4>
    
      <hr>
      <div class="row">
        <div class="col-sm-10">
            <div class="block-container">
                <div class="block-image" ng-repeat="storey in blockStorey | orderBy:'-storeyNo'">
                    <div class="block-storey">
                        <div class="row">
                            <div class="col-md-2">
                                <h5 class="storey-name">Storey {{storey.storeyNo}}</h5>
                            </div>
                            <div class="block-flat" ng-repeat="flat in storey.flats | orderBy:'flat_number'" ng-class="{ 'bhk-1' : flat.type_of_flat=='1', 'bhk-2' : flat.type_of_flat=='2', 'bhk-3' : flat.type_of_flat=='3', 'bhk-4' : flat.type_of_flat=='4'}">
                                <div class="flat-number">
                                    {{flat.flat_number}} 
                                    <i class="fa fa-eye flat-options-icon" style="margin-left: -5px !important;font-size: 10px"> </i>|<!-- <i class="fa fa-info flat-options-icon"  style="margin: 3px 0px 0 2px !important;font-size: 10px"> </i> --><i class="fa  flat-options-icon" style="font-size: 10px; margin: 3px 0px 0 2px !important" ng-click="addResident(flat.id)" ng-class="{ 'fa-plus' : flat.is_updated=='0', 'fa-edit' : flat.is_updated!='0'}"></i>
                                    <div class="upar-arrow" ng-show="showArrow{{flat.flat_number}}()"></div>
                                </div>
                                <div class="info-container" ng-show="showInfo{{flat.flat_number}}()">
                                    <span class="resident">Resident: Sonu</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div><div class="bhk-1 indicator"></div> <span> 1 BHK</span></div>
            <div><div class="bhk-2 indicator"></div> <span> 2 BHK</span></div>
            <div><div class="bhk-3 indicator"></div> <span> 3 BHK</span></div>
            <div><div class="bhk-4 indicator"></div> <span> 4 BHK</span></div>
        </div>
      </div>
    </div>
    
   
</div>
<!-- /#page-wrapper -->
<society-footer></society-footer>   
